<div class="form-container">
    <form [formGroup]="questionForm" (ngSubmit)="submitForm()">
        
        <mat-form-field class="full-width" appearance="outline"> 
            <mat-label>Question</mat-label>
            <input matInput formControlName="question" required>
        </mat-form-field>
        
        <mat-form-field class="full-width" appearance="outline"> 
            <mat-label>Answer</mat-label>
            <textarea matInput formControlName="answer" required rows="15"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline" >
            <mat-label>Topic</mat-label>
            <input matInput formControlName="topic" required readonly>
        </mat-form-field>

<div>
        <button mat-raised-button color="primary" type="submit">Submit</button>
</div>   
    </form>
</div>